html {
    background: beige;
    height: 100vh;
}


h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(13, 9, 228);
    text-shadow: 0 0 10px;
}

dt {
    font-weight: bold;
    font-size: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

dd {
    padding-top: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}


button {
    background-color: transparent;
    border:solid 3px blue;
    border-radius: 100px;
}