body {
    margin: 0; 
    min-height: 100vh; 
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    background-image: url(https://us.123rf.com/450wm/chuckchee/chuckchee1701/chuckchee170100013/68744940-p%C3%ADxel-del-fondo-arte-del-juego-con-tierra-hierba-cielo-y-las-nubes.jpg);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.titulo img{
    width: 900px;    
    padding: -20px;
    color: white;
    font-size: 90px;
}

.subtitulo{
    color: white;
    font-size: 35px;
}

.box-edit img{
    width: 210px;
    height: 200px;
    display: flex;
}

.box-edit{
    width: 350px;
    height: 250px;
    color: white;
    background: linear-gradient(#27E82A, #6D1111);
    padding: 5px;
    box-sizing: border-box;
    border: solid white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: normal;
    font-size: 20px;
    box-shadow: 0 0 30px #27E82A, 0 0 70px floralwhite;

}

.boxes, .tarjetas-ataque, #contenedorBoxes {
    display: flex;
    gap: 15px;
    text-align: center;
}

.boton-ataque {
    width: 80px;
    height: 100px;
    border-radius: 40px;
    border: solid white 5px;
    background: linear-gradient(#27E82A, #6D1111);  
    color: white;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#boton-mascota {
    width: 160px;
    height: 50px;
    margin: 45px;
    border: 6px solid white;
    color: white;
    background: transparent; 
    cursor: pointer; 
    border-radius: 30px; 
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: 0 0 40px #27E82A;
    text-shadow: 0 0 40px #6D1111;
}

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -45px;
}

#seleccionar-ataque {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    margin-top: -45px;
}

#mensajes {
    width: 180px;
    background: linear-gradient(#27E82A, #6D1111);
    border: 6px solid white;
    color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    font-size: 20px;
}

input {
    opacity: 0;
    position: absolute;
}

input:checked + label {
    background-color: rgb(47, 182, 47);
    background-image: none;
    transition: background-color 0.4s ease-out;/* Elimina el linear-gradient cuando está seleccionado */
}

.numero-ataques {
    display: grid;
    margin-top: -25px;
    grid-template-columns: 100px 100px;
    gap: 30px;
}

.ataques--jugador, .ataques--enemigo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#vidas-jugador, #vidas-enemigo {
    font-size: 45px;
}

#ver-mapa {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo1 {
    width: 100px;
}

#mapa { 
    border: 2px solid white;
}

@media (max-width: 360px) {
    .boxes, .tarjetas-ataque {
        flex-direction: column;
    }
}
